<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Stopwatch</title>
    <link href='CSS/stopwatch.css' type="text/css" rel="stylesheet">
    <script src='JS/stopwatch.js' defer></script>
  </head>
  <body>
  <div id="container">
    <h1>Simple Stopwatch</h1>
    <h1 id="timeDisplay" class="time">0:00</h1>
    <form>
      <input type="button" id="startBtn" name="startBtn" value="Start" class="button"><br>
      <input type="button" id="stopBtn" name="stopBtn" value="Stop" class="button"><br>
      <input type="button" id="clearBtn" name="clearBtn" value="Clear" class="button">
    </form>
  </div>
  </body>
</html>